<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/drogaria</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>

		<mapping class="br.com.drogaria.model.Cidade"/>
		<mapping class="br.com.drogaria.model.Cliente"/>
		<mapping class="br.com.drogaria.model.Estado" />
		<mapping class='br.com.drogaria.model.Fabricante' />
		<mapping class='br.com.drogaria.model.Funcionario' />
		<mapping class="br.com.drogaria.model.ItemVenda"/>
		<mapping class='br.com.drogaria.model.Produto' />
		<mapping class='br.com.drogaria.model.Pessoa' />
		<mapping class='br.com.drogaria.model.Usuario' />
		<mapping class='br.com.drogaria.model.Venda' />
		

	</session-factory>
</hibernate-configuration>